/* .volunteerList tr{
    border: 1px solid black; 
}
.volunteerList th{
    border: 1px solid slateblue;
    padding-left: 5px;
    padding-right: 30px;
}
.volunteerList td{
    border: 1px solid slateblue;
    padding: 5px;
}
.volunteerList{
    max-width: 900px;
} */