.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dot{
  color: red;
}
.dott{
  color: aqua;
}
h1{
  color: red;
  text-shadow: 3px 3px 3px darkgreen;
  margin: 100px 50px;
}
.hImg{
  height: 25px;
  border-radius: 25px;  
  margin-left: 20px;   
}
.userDiv{ 
  height: 400px;
  width: 400px;
  margin: 20px auto;
  text-align: center;
}
.smallStyle{
  color: #0066ff;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}
.err{
  color: red;
  font-style: italic;
  text-align: center;
}
.success{
  color: darkgreen;
  font-style: italic;
  text-align: center;
}

